/* CSS Document */
/* ***********************
Algemene dingen
*********************** */


*, *::after, *::before {
  box-sizing:border-box;  
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.background {
  position: absolute;
  z-index: -1;
}

/* ***********************
Nav bar 
*********************** */


nav {
  display: flex;
  justify-content: center;
  height: 56px;
  position: relative;
  z-index: 1000;
}
nav ul {
  display: flex;
  width: 100%;
  max-width: 1160px;
}
nav ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav ul li + li {
  margin-left: 4em;
}
nav ul li:first-of-type {
  margin-right: auto;
  margin-left: 15px;
}
nav ul li:last-of-type {
  margin-right: 25px;
}
nav ul li a {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}
nav ul li a img {
  max-height: 20px;
  margin-right: 15px;
  object-fit: contain;
}
.hamburger {
  height: 15px;
  margin-right: 20%;
}
.macpawlogo {
  min-height: 20px;
}
.logotext {
  font-size: 20px;
  max-width: 10px;
}



/* ***********************
Header
*********************** */
.centerheader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  max-width: 1152px;
  width: 100vw;
  margin-top: 2.15em;
  position: relative;
  z-index: 999;
}
header.backgroundheader {
  position: absolute;
  z-index: -1;
}
.bannercontainer {
  display: flex;
  /* background-color: red; */
  width: 50%;
  align-items: center;
}
.headertextcontainer {
  /* background-color:blue; */
  display: flex; 
  flex-direction: column;
  width: 50%;
}
.bannerimage {
  margin-left: 2.7%;
  width: 85%;
}
h1 {
  font-size: 2em;
  margin: 1.27em 0 .5em 1.85em;
}
.motto {
  margin: .3em 0 0 3.8em;
}
.motto  h2{
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.3;
}
.headertextcontainer p {
  line-height: 1.8;
  max-width: 80%;
  margin: 1.5em 0 0 3.7em;
}
.headerbuttons {
  margin: 4em 0  0 3.7em;
}
.headerbuttons a:first-of-type{
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding: 14px 34px;
  background-color: #06c668;
  transition: 0.7s; 
  border-radius: 10px;
}
.headerbuttons a:first-of-type:hover {
  background-color: #49d390;
  transition: 1s; 
}
.headerbuttons a:last-of-type{
  color: #000000;
  font-weight: 600;
  margin-left: 1em;
  padding: 14px 34px;
  border-style: solid;
  border-color: rgba(51,51,51,.1);
  border-radius: 10px;
  transition: 0.7s; 
}
.headerbuttons a:last-of-type:hover {
  border-color: rgba(51,51,51, 1);
  transition: 1s;
}
.headerimage{
  top: -50em;
  left: -9em;
  transform: rotate(45deg);
  overflow: hidden;
}
header img.infiniterotate {
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* ***********************
INHOUDELIJK OVER CLEAN MY MAC X
*********************** */

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15em
}
article section {
  max-width: 1152px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  font-size: 1.5em;
  margin-bottom: .8em;
  font-weight: 700;
}
article section p {
  max-width: 47em;
  font-weight: 400;
  line-height: 1.5;
}
article section p + a {
  padding: 11px 0 11px 30px;
  border: 2px solid;
  border-color: rgb(51,51,51);
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-width: 18em;
  text-align: left;
  color: rgb(51,51,51);
  margin-top: 2em;
  font-weight: 600;
}
article section p + a img {
  height: 1.4em;
  padding-right: 30px;
  padding-left: 10px;
}
article section p + a:hover {
  background-color: rgba(51,51,51, 1);
  color: #ffffff;
  transition: .6s;
}

